
.wrap{
    display: flex;
    align-items: center;
height: 340px;
overflow: hidden;
}

ul{
    list-style: none;
}

#slideshow {
    display: flex;
    animation: loop-slide 10s infinite linear 1s both;
  }
  @keyframes loop-slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
@keyframes loop-slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  /* ホバー時に動きを止める（パターン2・3）*/
  .slide-paused:hover .slideshow {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }
  /* ホバー時の装飾（パターン3） */
  .content-hover {
    transition: all 0.2s;
    margin-right: 20px;
  }
  .content-hover:hover {
    transform: translateY(-20px);
    border-radius: 0 10%;
    box-shadow: 0 3px 10px 0 #333;
    opacity: 0.8;
    cursor: pointer;
  }





















.search-result{
    display: none;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.shop-img{
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: center;
}
.shop-img2{
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: center;
}
.shop-img3{
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: center;
}
.shop-img4{
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: center;
}
.shop-img5{
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: center;
}
.shop-img6{
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: center;
}
.shop-img7{
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: center;
}
.shop-img8{
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: center;
}
.shop-img9{
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: center;
}

.intro-box{
    width: 45%;
}


/* ここからスライド */
.slide-container{
    display: flex;
    width: 100%;
    transition: all 1s ease;
  }
  
  .container-wrap{
    width: 100%;
    overflow-x: hidden;
    position: relative;
  }
  
  .left-arrow,.right-arrow{
    cursor: pointer;
  }
  
  .left-arrow{
    content: '';
    width: 20px;
    height: 20px;
    border-bottom: solid 2px #fff;
    border-right: solid 2px #fff;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 30px;
    transform: rotate(128deg);
  }
  
  .right-arrow{
    content: '';
    width: 20px;
    height: 20px;
    border-bottom: solid 2px #fff;
    border-right: solid 2px #fff;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: rotate(-45deg);
    z-index: 1;
  }
  
  .slide{
    min-width: 100%;
    text-align: center;
  }
  
  .slide:nth-child(1){
    background-color: tomato;
  }
  .slide:nth-child(2){
    background-color: rgb(252, 255, 71);
  }
  .slide:nth-child(3){
    background-color: rgb(255, 71, 157);
  }
  .slide:nth-child(4){
    background-color: orange;
  }
  .slide:nth-child(5){
    background-color: red;
  }
  .slide:nth-child(6){
    background-color: violet;
  }
  .slide:nth-child(7){
    background-color: darkred;
  }
  .slide:nth-child(8){
    background-color: orangered;
  }
  .slide:nth-child(9){
    background-color: maroon;
  }
  .slide:nth-child(10){
    background-color: firebrick;
  }
  /* ここまで */