.search-result{
    display: none;
    width: 100%;
}

.shop-img{
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: center;
}

.intro-box{
    width: 45%;
}

.shop-img img{
    max-width: 100%;
}

/* ここからスライド */
.slide-container{
    display: flex;
    width: 100%;
    transition: all 1s ease;
  }
  
  .container-wrap{
    width: 100%;
    overflow-x: hidden;
    position: relative;
  }
  
  .left-arrow,.right-arrow{
    cursor: pointer;
  }
  
  .left-arrow{
    content: '';
    width: 20px;
    height: 20px;
    border-bottom: solid 2px #fff;
    border-right: solid 2px #fff;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 30px;
    transform: rotate(128deg);
  }
  
  .right-arrow{
    content: '';
    width: 20px;
    height: 20px;
    border-bottom: solid 2px #fff;
    border-right: solid 2px #fff;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: rotate(-45deg);
    z-index: 1;
  }
  
  .slide{
    min-width: 100%;
    text-align: center;
  }
  
  .slide:nth-child(1){
    background-color: tomato;
  }
  .slide:nth-child(2){
    background-color: rgb(252, 255, 71);
  }
  .slide:nth-child(3){
    background-color: rgb(255, 71, 157);
  }
  /* ここまで */