

.header-lite{
    display: flex;
    align-items: center;
justify-content: flex-start;
padding: 5px 5px;
font-size: 15px;

font-family: 'Dancing Script', cursive;
font-family: 'Luxurious Roman', cursive;
font-family: 'M PLUS Rounded 1c', sans-serif;
}

a{
    text-decoration: none;
}

/* ヘッダーライト */

.header-lite img{
    max-width: 80%;
    padding: 0 20px;
}

.header-right li{
    padding: 0 5px;
    
}

.header-right{
    display: flex;
   
    align-items: center;
    justify-content: left;

}
.ul-left li{
    padding: 5px 10px;
}

/* ヘッダーレフト */
.ul-left{
    display: flex;
    align-items: center;
    justify-content: left;
}



/* スライドショー */

.wrap{
    display: flex;
    align-items: center;
height: 340px;
overflow: hidden;
}

ul{
    list-style: none;
}


#slideshow {
    display: flex;
    animation: loop-slide 30s infinite linear 1s both;
  }
  @keyframes loop-slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
@keyframes loop-slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  /* ホバー時に動きを止める（パターン2・3）*/
  .slide-paused:hover .slideshow {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }
  /* ホバー時の装飾（パターン3） */
  .content-hover {
    transition: all 0.2s;
    margin-right: 20px;
  }
  .content-hover:hover {
    transform: translateY(-20px);
    border-radius: 0 10%;
    box-shadow: 0 3px 10px 0 #333;
    opacity: 0.8;
    cursor: pointer;
  }







  









  .todobody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
};

.API{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.API h1{
    text-align: center;
}

.formbox{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.search-result{
    display: none;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.shop-img{
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: center;
}
.shop-img2{
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: center;
}
.shop-img3{
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: center;
}
.shop-img4{
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: center;
}
.shop-img5{
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: center;
}
.shop-img6{
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: center;
}
.shop-img7{
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: center;
}
.shop-img8{
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: center;
}
.shop-img9{
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: center;
}

.intro-box{
    width: 45%;
    background-color: rgba(255, 255, 255, 0.3);
}
.intro-box2{
    width: 45%;
    background-color: rgba(255, 255, 255, 0.3);
}
.intro-box3{
    width: 45%;
    background-color: rgba(255, 255, 255, 0.3);
}
.intro-box4{
    width: 45%;
    background-color: rgba(255, 255, 255, 0.3);
}
.intro-box5{
    width: 45%;
    background-color: rgba(255, 255, 255, 0.3);
}
.intro-box6{
    width: 45%;
    background-color: rgba(255, 255, 255, 0.3);
}
.intro-box7{
    width: 45%;
    background-color: rgba(255, 255, 255, 0.3);
}
.intro-box8{
    width: 45%;
    background-color: rgba(255, 255, 255, 0.3);
}
.intro-box9{
    width: 45%;
    background-color: rgba(255, 255, 255, 0.3);
}


/* ここからスライド */
.slide-container{
    display: flex;
    width: 100%;
    transition: all 1s ease;
  }
  
  .container-wrap{
    width: 100%;
    overflow-x: hidden;
    position: relative;
  }
  
  .left-arrow,.right-arrow{
    cursor: pointer;
  }
  
  .left-arrow{
    content: '';
    width: 20px;
    height: 20px;
    border-bottom: solid 2px #fff;
    border-right: solid 2px #fff;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 30px;
    transform: rotate(128deg);
  }
  
  .right-arrow{
    content: '';
    width: 20px;
    height: 20px;
    border-bottom: solid 2px #fff;
    border-right: solid 2px #fff;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: rotate(-45deg);
    z-index: 1;
  }
  
  .slide{
    min-width: 100%;
    text-align: center;
  }
  
  .slide:nth-child(1){
    background-color: tomato;
  }
  .slide:nth-child(2){
    background-color: rgb(252, 255, 71);
  }
  .slide:nth-child(3){
    background-color: rgb(255, 71, 157);
  }
  .slide:nth-child(4){
    background-color: orange;
  }
  .slide:nth-child(5){
    background-color: red;
  }
  .slide:nth-child(6){
    background-color: violet;
  }
  .slide:nth-child(7){
    background-color: darkred;
  }
  .slide:nth-child(8){
    background-color: orangered;
  }
  .slide:nth-child(9){
    background-color: maroon;
  }
  .slide:nth-child(10){
    background-color: firebrick;
  }
  /* ここまで */
  /* ここからtodo copy */







/* ------picup----- */
#cook-h2{
  text-align: center;
}


.cook-img{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cook{
  max-width: 50%;
  border-radius: 10px;
}


/* inst */

.sns-icon{
  display: flex;
  justify-content: center;
  align-items: center;
}



.sns{
  max-width: 10%;
}
.sns-fb{
  max-width: 90%;
}






  /* フッター */
  footer{
    height: 50px;
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 10px ;
    font-family: 'Dancing Script', cursive;
font-family: 'Luxurious Roman', cursive;
font-family: 'M PLUS Rounded 1c', sans-serif;
  }
  

  li span {
    color: red;
  };

  .todobody{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center
  };

  .start{
	background: #FFF;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
}
.start p {
	position: fixed;
    font-size: 50px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
	width: 70%;
}
